/* Mono (极简) */
body[data-smkit-theme="mono"]{
  --dsw-alias-bg-base: #ffffff;
  --dsw-alias-bg-layer-1: #ffffff;
  --dsw-alias-bg-layer-2: #ffffff;
  --dsw-alias-bg-layer-3: #f2f2f2;
  --dsw-alias-bg-overlay: #f2f2f2;
  --dsw-alias-bg-module-platform: #f2f2f2;
  --dsw-alias-bg-multi-select: #f2f2f2;
  --dsw-alias-bg-skeleton: rgba(0, 0, 0, 0.060);
  --dsw-alias-border-l1: rgba(0, 0, 0, 0.066);
  --dsw-alias-border-l2: rgba(0,0,0,0.12);
  --dsw-alias-border-l2-darkmode-thin: rgba(0,0,0,0.12);
  --dsw-alias-border-l3: rgba(0, 0, 0, 0.192);
  --dsw-alias-border-l4: rgba(0, 0, 0, 0.264);
  --dsw-alias-border-inverted: rgba(0, 0, 0, 0.080);
  --dsw-alias-border-inverted2: rgba(0, 0, 0, 0.080);
  --dsw-alias-brand-primary: #000000;
  --dsw-alias-brand-primary-invert: #000000;
  --dsw-alias-brand-text: #000000;
  --dsw-alias-button-primary-fill: #000000;
  --dsw-alias-button-primary-hover: #333333;
  --dsw-alias-button-primary-dimmed: rgba(0, 0, 0, 0.140);
  --dsw-alias-button-info-fill: #000000;
  --dsw-alias-button-info-hover: #333333;
  --dsw-alias-button-contrast-fill: #000000;
  --dsw-alias-button-elevated-fill: #ffffff;
  --dsw-alias-button-floating-fill: #ffffff;
  --dsw-alias-button-floating-hover: #f2f2f2;
  --dsw-alias-button-ghost-active-fill: #f2f2f2;
  --dsw-alias-button-ghost-active-hover: #f2f2f2;
  --dsw-alias-button-ghost-active-border: #8c8c8c;
  --dsw-alias-button-tool-bar-fill: rgba(0, 0, 0, 0.180);
  --dsw-alias-button-tool-bar-fill-invisible: rgba(0, 0, 0, 0.100);
  --dsw-alias-button-tool-bar-hover: rgba(0, 0, 0, 0.280);
  --dsw-alias-label-primary: #000000;
  --dsw-alias-label-secondary: #555555;
  --dsw-alias-label-tertiary: #8c8c8c;
  --dsw-alias-label-caption: #8c8c8c;
  --dsw-alias-label-dimmed: rgba(0, 0, 0, 0.450);
  --dsw-alias-label-primary-bluish: #000000;
  --dsw-alias-label-primary-dimmed: #000000;
  --dsw-alias-label-primary-foreground: #ffffff;
  --dsw-alias-label-primary-inverted: #ffffff;
  --dsw-alias-interactive-bg-hover: rgba(0, 0, 0, 0.060);
  --dsw-alias-interactive-bg-active: rgba(0, 0, 0, 0.100);
  --dsw-alias-interactive-bg-hover-accent: rgba(0, 0, 0, 0.120);
  --dsw-alias-interactive-bg-hover-danger: rgba(185, 28, 28, 0.080);
  --dsw-alias-interactive-bg-hover-solid: #f2f2f2;
  --dsw-alias-markdown-code-block: #f5f5f5;
  --dsw-alias-markdown-code-block-banner: #ececec;
  --dsw-alias-markdown-inline-code: #f5f5f5;
  --dsw-alias-markdown-code-segment-selected: #ececec;
  --dsw-alias-markdown-code-segment-unselected: #f5f5f5;
  --dsw-alias-markdown-citation: #f2f2f2;
  --dsw-alias-markdown-placeholder: #f2f2f2;
  --dsw-alias-markdown-tag: #f2f2f2;
  --dsw-alias-state-business-primary: #000000;
  --dsw-alias-state-business-tertiary: rgba(0, 0, 0, 0.140);
  --dsw-alias-state-error-primary: #b91c1c;
  --dsw-alias-state-error-secondary: rgba(185, 28, 28, 0.750);
  --dsw-alias-state-success-primary: #166534;
  --dsw-alias-state-success-secondary: #166534;
  --dsw-alias-state-success-tertiary: rgba(22, 101, 52, 0.140);
  --dsw-alias-state-warn-primary: #a16207;
  --dsw-alias-state-warn-secondary: #a16207;
  --dsw-alias-state-warn-tertiary: rgba(161, 98, 7, 0.160);
  --dsw-alias-state-warn-label: #a16207;
  --dsw-alias-scrollbar-bg-l1: rgba(0, 0, 0, 0.120);
  --dsw-alias-scrollbar-bg-l2: rgba(0, 0, 0, 0.120);
  --dsw-alias-scrollbar-hover-l1: rgba(0, 0, 0, 0.220);
  --dsw-alias-scrollbar-hover-l2: rgba(0, 0, 0, 0.220);
  --dsw-alias-toast-bg: #000000;
  --dsw-alias-tooltip-bg: #000000;
  --dsw-specific-bubble: #f5f5f5;
  --dsw-specific-bubble-highlight: rgba(0, 0, 0, 0.120);
  --dsw-specific-input-major: #ffffff;
  --dsw-specific-login-input: #f2f2f2;
  --dsw-specific-menu: #ffffff;
  --dsw-specific-selector: #f2f2f2;
  --dsw-specific-sidebar-fill: #f7f7f7;
  --dsw-specific-sidebar-nav-item-active: rgba(0, 0, 0, 0.060);
  --dsw-specific-sidebar-nav-item-active-accent: rgba(0, 0, 0, 0.140);
  --dsw-specific-sidebar-nav-item-hover: rgba(0, 0, 0, 0.050);
  --dsw-specific-tip: #f2f2f2;
  --dsw-linear-gradient-think: linear-gradient(180deg, rgb(255, 255, 255) 20.19%, rgba(255, 255, 255, 0) 100%);
  --dsw-linear-think-select: linear-gradient(180deg, rgb(242, 242, 242) 20.19%, rgba(242, 242, 242, 0) 100%);
}
body[data-smkit-theme="mono"][data-ds-dark-theme]{
  --dsw-alias-bg-base: #000000;
  --dsw-alias-bg-layer-1: #0c0c0c;
  --dsw-alias-bg-layer-2: #0c0c0c;
  --dsw-alias-bg-layer-3: #161616;
  --dsw-alias-bg-overlay: #161616;
  --dsw-alias-bg-module-platform: #161616;
  --dsw-alias-bg-multi-select: #161616;
  --dsw-alias-bg-skeleton: rgba(255, 255, 255, 0.080);
  --dsw-alias-border-l1: rgba(255, 255, 255, 0.077);
  --dsw-alias-border-l2: rgba(255,255,255,0.14);
  --dsw-alias-border-l2-darkmode-thin: rgba(255,255,255,0.14);
  --dsw-alias-border-l3: rgba(255, 255, 255, 0.224);
  --dsw-alias-border-l4: rgba(255, 255, 255, 0.308);
  --dsw-alias-border-inverted: rgba(255, 255, 255, 0.120);
  --dsw-alias-border-inverted2: rgba(255, 255, 255, 0.120);
  --dsw-alias-brand-primary: #ffffff;
  --dsw-alias-brand-primary-invert: #ffffff;
  --dsw-alias-brand-text: #ffffff;
  --dsw-alias-button-primary-fill: #ffffff;
  --dsw-alias-button-primary-hover: #cccccc;
  --dsw-alias-button-primary-dimmed: rgba(255, 255, 255, 0.140);
  --dsw-alias-button-info-fill: #ffffff;
  --dsw-alias-button-info-hover: #cccccc;
  --dsw-alias-button-contrast-fill: #ffffff;
  --dsw-alias-button-elevated-fill: #0c0c0c;
  --dsw-alias-button-floating-fill: #0c0c0c;
  --dsw-alias-button-floating-hover: #161616;
  --dsw-alias-button-ghost-active-fill: #161616;
  --dsw-alias-button-ghost-active-hover: #161616;
  --dsw-alias-button-ghost-active-border: #6b6b6b;
  --dsw-alias-button-tool-bar-fill: rgba(255, 255, 255, 0.180);
  --dsw-alias-button-tool-bar-fill-invisible: rgba(255, 255, 255, 0.100);
  --dsw-alias-button-tool-bar-hover: rgba(255, 255, 255, 0.280);
  --dsw-alias-label-primary: #ffffff;
  --dsw-alias-label-secondary: #a1a1a1;
  --dsw-alias-label-tertiary: #6b6b6b;
  --dsw-alias-label-caption: #6b6b6b;
  --dsw-alias-label-dimmed: rgba(255, 255, 255, 0.450);
  --dsw-alias-label-primary-bluish: #ffffff;
  --dsw-alias-label-primary-dimmed: #ffffff;
  --dsw-alias-label-primary-foreground: #000000;
  --dsw-alias-label-primary-inverted: #000000;
  --dsw-alias-interactive-bg-hover: rgba(255, 255, 255, 0.100);
  --dsw-alias-interactive-bg-active: rgba(255, 255, 255, 0.160);
  --dsw-alias-interactive-bg-hover-accent: rgba(255, 255, 255, 0.120);
  --dsw-alias-interactive-bg-hover-danger: rgba(248, 113, 113, 0.080);
  --dsw-alias-interactive-bg-hover-solid: #161616;
  --dsw-alias-markdown-code-block: #0a0a0a;
  --dsw-alias-markdown-code-block-banner: #131313;
  --dsw-alias-markdown-inline-code: #0a0a0a;
  --dsw-alias-markdown-code-segment-selected: #131313;
  --dsw-alias-markdown-code-segment-unselected: #0a0a0a;
  --dsw-alias-markdown-citation: #161616;
  --dsw-alias-markdown-placeholder: #161616;
  --dsw-alias-markdown-tag: #161616;
  --dsw-alias-state-business-primary: #ffffff;
  --dsw-alias-state-business-tertiary: rgba(255, 255, 255, 0.140);
  --dsw-alias-state-error-primary: #f87171;
  --dsw-alias-state-error-secondary: rgba(248, 113, 113, 0.750);
  --dsw-alias-state-success-primary: #4ade80;
  --dsw-alias-state-success-secondary: #4ade80;
  --dsw-alias-state-success-tertiary: rgba(74, 222, 128, 0.140);
  --dsw-alias-state-warn-primary: #fbbf24;
  --dsw-alias-state-warn-secondary: #fbbf24;
  --dsw-alias-state-warn-tertiary: rgba(251, 191, 36, 0.160);
  --dsw-alias-state-warn-label: #fbbf24;
  --dsw-alias-scrollbar-bg-l1: rgba(255, 255, 255, 0.120);
  --dsw-alias-scrollbar-bg-l2: rgba(255, 255, 255, 0.120);
  --dsw-alias-scrollbar-hover-l1: rgba(255, 255, 255, 0.220);
  --dsw-alias-scrollbar-hover-l2: rgba(255, 255, 255, 0.220);
  --dsw-alias-toast-bg: #ffffff;
  --dsw-alias-tooltip-bg: #ffffff;
  --dsw-specific-bubble: #0a0a0a;
  --dsw-specific-bubble-highlight: rgba(255, 255, 255, 0.120);
  --dsw-specific-input-major: #0c0c0c;
  --dsw-specific-login-input: #161616;
  --dsw-specific-menu: #0c0c0c;
  --dsw-specific-selector: #161616;
  --dsw-specific-sidebar-fill: #050505;
  --dsw-specific-sidebar-nav-item-active: rgba(255, 255, 255, 0.060);
  --dsw-specific-sidebar-nav-item-active-accent: rgba(255, 255, 255, 0.140);
  --dsw-specific-sidebar-nav-item-hover: rgba(255, 255, 255, 0.050);
  --dsw-specific-tip: #161616;
  --dsw-linear-gradient-think: linear-gradient(180deg, rgb(0, 0, 0) 20.19%, rgba(0, 0, 0, 0) 100%);
  --dsw-linear-think-select: linear-gradient(180deg, rgb(22, 22, 22) 20.19%, rgba(22, 22, 22, 0) 100%);
}
body[data-smkit-theme="mono"]{
  --shiki-token-constant: #1c7ed6;
  --shiki-token-string: #2f9e44;
  --shiki-token-comment: #868e96;
  --shiki-token-keyword: #d6336c;
  --shiki-token-parameter: #e8590c;
  --shiki-token-function: #6741d9;
  --shiki-token-string-expression: #2b8a3e;
  --shiki-token-punctuation: #495057;
  --shiki-token-link: #1971c2;
}
body[data-smkit-theme="mono"][data-ds-dark-theme]{
  --shiki-token-constant: #4dabf7;
  --shiki-token-string: #69db7c;
  --shiki-token-comment: #adb5bd;
  --shiki-token-keyword: #faa2c1;
  --shiki-token-parameter: #ffa94d;
  --shiki-token-function: #b197fc;
  --shiki-token-string-expression: #8ce99a;
  --shiki-token-punctuation: #ced4da;
  --shiki-token-link: #74c0fc;
}
