/* One Dark Pro */
body[data-smkit-theme="one-dark-pro"]{
  --dsw-alias-bg-base: #282c34;
  --dsw-alias-bg-layer-1: #2c313c;
  --dsw-alias-bg-layer-2: #21252b;
  --dsw-alias-bg-layer-3: #1b1d23;
  --dsw-alias-bg-overlay: #21252b;
  --dsw-alias-bg-module-platform: #2c313c;
  --dsw-alias-bg-multi-select: #21252b;
  --dsw-alias-bg-skeleton: #2c313c;
  --dsw-alias-border-l1: #3e4452;
  --dsw-alias-border-l2: #4b5362;
  --dsw-alias-border-l2-darkmode-thin: #181a1f;
  --dsw-alias-border-l3: #5c6370;
  --dsw-alias-border-l4: #404754;
  --dsw-alias-border-inverted: #181a1f;
  --dsw-alias-border-inverted2: #343a45;
  --dsw-alias-brand-primary: #61afef;
  --dsw-alias-brand-primary-invert: #f8fafd;
  --dsw-alias-brand-text: #f8fafd;
  --dsw-alias-button-primary-fill: #61afef;
  --dsw-alias-button-primary-hover: #7fc1f3;
  --dsw-alias-button-primary-dimmed: #3e4452;
  --dsw-alias-button-info-fill: #61afef;
  --dsw-alias-button-info-hover: #7fc1f3;
  --dsw-alias-button-contrast-fill: #f8fafd;
  --dsw-alias-button-elevated-fill: #30333d;
  --dsw-alias-button-floating-fill: #21252b;
  --dsw-alias-button-floating-hover: #323842;
  --dsw-alias-button-ghost-active-fill: #2c313c;
  --dsw-alias-button-ghost-active-hover: #323842;
  --dsw-alias-button-ghost-active-border: #3e4452;
  --dsw-alias-button-tool-bar-fill: #3e4452;
  --dsw-alias-button-tool-bar-fill-invisible: rgba(24, 26, 31, 0.360);
  --dsw-alias-button-tool-bar-hover: #4b5362;
  --dsw-alias-label-primary: #abb2bf;
  --dsw-alias-label-secondary: #9da5b4;
  --dsw-alias-label-tertiary: #7f848e;
  --dsw-alias-label-caption: #5c6370;
  --dsw-alias-label-dimmed: #6b717d;
  --dsw-alias-label-primary-bluish: #d7dae0;
  --dsw-alias-label-primary-dimmed: #7f848e;
  --dsw-alias-label-primary-foreground: #282c34;
  --dsw-alias-label-primary-inverted: #282c34;
  --dsw-alias-interactive-bg-hover: #2c313a;
  --dsw-alias-interactive-bg-active: #2c313a;
  --dsw-alias-interactive-bg-hover-accent: #323842;
  --dsw-alias-interactive-bg-hover-danger: rgba(224, 108, 117, 0.150);
  --dsw-alias-interactive-bg-hover-solid: #3e4452;
  --dsw-alias-markdown-code-block: #21252b;
  --dsw-alias-markdown-code-block-banner: #1b1d23;
  --dsw-alias-markdown-inline-code: #21252b;
  --dsw-alias-markdown-code-segment-selected: #2c313c;
  --dsw-alias-markdown-code-segment-unselected: #21252b;
  --dsw-alias-markdown-citation: #2c313c;
  --dsw-alias-markdown-placeholder: #21252b;
  --dsw-alias-markdown-tag: #21252b;
  --dsw-alias-state-business-primary: #61afef;
  --dsw-alias-state-business-tertiary: #2c313c;
  --dsw-alias-state-error-primary: #e06c75;
  --dsw-alias-state-error-secondary: rgba(224, 108, 117, 0.750);
  --dsw-alias-state-success-primary: #98c379;
  --dsw-alias-state-success-secondary: #98c379;
  --dsw-alias-state-success-tertiary: #26322c;
  --dsw-alias-state-warn-primary: #d19a66;
  --dsw-alias-state-warn-secondary: #d19a66;
  --dsw-alias-state-warn-tertiary: #3a3226;
  --dsw-alias-state-warn-label: #d19a66;
  --dsw-alias-scrollbar-bg-l1: rgba(78, 86, 102, 0.380);
  --dsw-alias-scrollbar-bg-l2: rgba(78, 86, 102, 0.380);
  --dsw-alias-scrollbar-hover-l1: rgba(90, 99, 117, 0.500);
  --dsw-alias-scrollbar-hover-l2: rgba(90, 99, 117, 0.500);
  --dsw-alias-toast-bg: #21252b;
  --dsw-alias-tooltip-bg: #21252b;
  --dsw-specific-bubble: #21252b;
  --dsw-specific-bubble-highlight: #2c313c;
  --dsw-specific-input-major: #21252b;
  --dsw-specific-login-input: #1d1f23;
  --dsw-specific-menu: #21252b;
  --dsw-specific-selector: #21252b;
  --dsw-specific-sidebar-fill: #21252b;
  --dsw-specific-sidebar-nav-item-active: #2c313c;
  --dsw-specific-sidebar-nav-item-active-accent: #2c313c;
  --dsw-specific-sidebar-nav-item-hover: #2c313c;
  --dsw-specific-tip: #21252b;
  --dsw-linear-gradient-think: linear-gradient(180deg, rgb(40, 44, 52) 20.19%, rgba(40, 44, 52, 0) 100%);
  --dsw-linear-think-select: linear-gradient(180deg, rgb(27, 29, 35) 20.19%, rgba(27, 29, 35, 0) 100%);
}
body[data-smkit-theme="one-dark-pro"][data-ds-dark-theme]{
  --dsw-alias-bg-base: #282c34;
  --dsw-alias-bg-layer-1: #2c313c;
  --dsw-alias-bg-layer-2: #21252b;
  --dsw-alias-bg-layer-3: #1b1d23;
  --dsw-alias-bg-overlay: #21252b;
  --dsw-alias-bg-module-platform: #2c313c;
  --dsw-alias-bg-multi-select: #21252b;
  --dsw-alias-bg-skeleton: #2c313c;
  --dsw-alias-border-l1: #3e4452;
  --dsw-alias-border-l2: #4b5362;
  --dsw-alias-border-l2-darkmode-thin: #181a1f;
  --dsw-alias-border-l3: #5c6370;
  --dsw-alias-border-l4: #404754;
  --dsw-alias-border-inverted: #181a1f;
  --dsw-alias-border-inverted2: #343a45;
  --dsw-alias-brand-primary: #61afef;
  --dsw-alias-brand-primary-invert: #f8fafd;
  --dsw-alias-brand-text: #f8fafd;
  --dsw-alias-button-primary-fill: #61afef;
  --dsw-alias-button-primary-hover: #7fc1f3;
  --dsw-alias-button-primary-dimmed: #3e4452;
  --dsw-alias-button-info-fill: #61afef;
  --dsw-alias-button-info-hover: #7fc1f3;
  --dsw-alias-button-contrast-fill: #f8fafd;
  --dsw-alias-button-elevated-fill: #30333d;
  --dsw-alias-button-floating-fill: #21252b;
  --dsw-alias-button-floating-hover: #323842;
  --dsw-alias-button-ghost-active-fill: #2c313c;
  --dsw-alias-button-ghost-active-hover: #323842;
  --dsw-alias-button-ghost-active-border: #3e4452;
  --dsw-alias-button-tool-bar-fill: #3e4452;
  --dsw-alias-button-tool-bar-fill-invisible: rgba(24, 26, 31, 0.360);
  --dsw-alias-button-tool-bar-hover: #4b5362;
  --dsw-alias-label-primary: #abb2bf;
  --dsw-alias-label-secondary: #9da5b4;
  --dsw-alias-label-tertiary: #7f848e;
  --dsw-alias-label-caption: #5c6370;
  --dsw-alias-label-dimmed: #6b717d;
  --dsw-alias-label-primary-bluish: #d7dae0;
  --dsw-alias-label-primary-dimmed: #7f848e;
  --dsw-alias-label-primary-foreground: #282c34;
  --dsw-alias-label-primary-inverted: #282c34;
  --dsw-alias-interactive-bg-hover: #2c313a;
  --dsw-alias-interactive-bg-active: #2c313a;
  --dsw-alias-interactive-bg-hover-accent: #323842;
  --dsw-alias-interactive-bg-hover-danger: rgba(224, 108, 117, 0.150);
  --dsw-alias-interactive-bg-hover-solid: #3e4452;
  --dsw-alias-markdown-code-block: #21252b;
  --dsw-alias-markdown-code-block-banner: #1b1d23;
  --dsw-alias-markdown-inline-code: #21252b;
  --dsw-alias-markdown-code-segment-selected: #2c313c;
  --dsw-alias-markdown-code-segment-unselected: #21252b;
  --dsw-alias-markdown-citation: #2c313c;
  --dsw-alias-markdown-placeholder: #21252b;
  --dsw-alias-markdown-tag: #21252b;
  --dsw-alias-state-business-primary: #61afef;
  --dsw-alias-state-business-tertiary: #2c313c;
  --dsw-alias-state-error-primary: #e06c75;
  --dsw-alias-state-error-secondary: rgba(224, 108, 117, 0.750);
  --dsw-alias-state-success-primary: #98c379;
  --dsw-alias-state-success-secondary: #98c379;
  --dsw-alias-state-success-tertiary: #26322c;
  --dsw-alias-state-warn-primary: #d19a66;
  --dsw-alias-state-warn-secondary: #d19a66;
  --dsw-alias-state-warn-tertiary: #3a3226;
  --dsw-alias-state-warn-label: #d19a66;
  --dsw-alias-scrollbar-bg-l1: rgba(78, 86, 102, 0.380);
  --dsw-alias-scrollbar-bg-l2: rgba(78, 86, 102, 0.380);
  --dsw-alias-scrollbar-hover-l1: rgba(90, 99, 117, 0.500);
  --dsw-alias-scrollbar-hover-l2: rgba(90, 99, 117, 0.500);
  --dsw-alias-toast-bg: #21252b;
  --dsw-alias-tooltip-bg: #21252b;
  --dsw-specific-bubble: #21252b;
  --dsw-specific-bubble-highlight: #2c313c;
  --dsw-specific-input-major: #21252b;
  --dsw-specific-login-input: #1d1f23;
  --dsw-specific-menu: #21252b;
  --dsw-specific-selector: #21252b;
  --dsw-specific-sidebar-fill: #21252b;
  --dsw-specific-sidebar-nav-item-active: #2c313c;
  --dsw-specific-sidebar-nav-item-active-accent: #2c313c;
  --dsw-specific-sidebar-nav-item-hover: #2c313c;
  --dsw-specific-tip: #21252b;
  --dsw-linear-gradient-think: linear-gradient(180deg, rgb(40, 44, 52) 20.19%, rgba(40, 44, 52, 0) 100%);
  --dsw-linear-think-select: linear-gradient(180deg, rgb(27, 29, 35) 20.19%, rgba(27, 29, 35, 0) 100%);
}
body[data-smkit-theme="one-dark-pro"]{
  --shiki-token-constant: #d19a66;
  --shiki-token-string: #98c379;
  --shiki-token-comment: #7f848e;
  --shiki-token-keyword: #c678dd;
  --shiki-token-parameter: #e06c75;
  --shiki-token-function: #61afef;
  --shiki-token-string-expression: #98c379;
  --shiki-token-punctuation: #abb2bf;
  --shiki-token-link: #61afef;
}
body[data-smkit-theme="one-dark-pro"][data-ds-dark-theme]{
  --shiki-token-constant: #d19a66;
  --shiki-token-string: #98c379;
  --shiki-token-comment: #7f848e;
  --shiki-token-keyword: #c678dd;
  --shiki-token-parameter: #e06c75;
  --shiki-token-function: #61afef;
  --shiki-token-string-expression: #98c379;
  --shiki-token-punctuation: #abb2bf;
  --shiki-token-link: #61afef;
}
